## Ejemplo de Clasificación con TensorFlow

In [1]:
import pandas as pd
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_core\python\compat\v2_compat.py:88: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
ingresos = pd.read_csv('./Data/ingresos.csv')
ingresos

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
ingresos['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [5]:
def cambio_valor(valor):
    if valor == '<=50K':
        return 0
    else:
        return 1

In [6]:
ingresos['income'] = ingresos['income'].apply(cambio_valor)

In [7]:
ingresos.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,0

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
datos_x = ingresos.drop('income', axis = 1)

In [11]:
datos_x.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States

In [15]:
datos_y = ingresos['income']
datos_y

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48842, dtype: int64

In [17]:
x_train, x_test, y_train, y_test = train_test_split(datos_x, datos_y, test_size = 0.3)

In [20]:
x_train.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
12880,62,Private,104849,Masters,14,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,China
35670,31,Private,149507,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,3464,0,38,United-States
13552,54,Private,133963,Some-college,10,Widowed,Sales,Unmarried,White,Female,0,0,20,United-States
20603,35,Private,202027,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,27828,0,50,United-States
39616,19,Private,307496,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,23,United-States

In [21]:
x_test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
7516,53,Federal-gov,411700,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,7298,0,40,United-States
9768,33,Self-emp-not-inc,190027,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Female,0,0,70,United-States
24128,22,Private,58916,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,30,United-States
46150,19,Private,121788,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,30,United-States
41743,51,Private,199688,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States

In [22]:
ingresos.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [23]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",['Female, Male'])

In [26]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size = 1000)

In [30]:
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size = 1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size = 1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital-status",hash_bucket_size = 1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size = 1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size = 1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native-country",hash_bucket_size = 1000)

In [31]:
age = tf.feature_column.numeric_column("age")

In [33]:
age = tf.feature_column.numeric_column("age")
fnlwgt = tf.feature_column.numeric_column("fnlwgt")
educational_num = tf.feature_column.numeric_column("educational-num")
capital_gain = tf.feature_column.numeric_column("capital-gain")
capital_loss = tf.feature_column.numeric_column("capital-loss")
hours_per_week = tf.feature_column.numeric_column("hours-per-week")

In [53]:
columnas_categorias = [gender, workclass, education, marital_status, occupation, relationship, native_country, age, fnlwgt, educational_num, capital_gain, capital_loss, hours_per_week]

In [54]:
funcion_entrada = tf.estimator.inputs.pandas_input_fn(x = x_train, y = y_train, batch_size = 100, num_epochs = None, shuffle = True)

In [55]:
modelo = tf.estimator.LinearClassifier(feature_columns = columnas_categorias)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\alexp\AppData\Local\Temp\tmp75f2psqa
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\alexp\\AppData\\Local\\Temp\\tmp75f2psqa', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [56]:
modelo.train(input_fn=funcion_entrada, steps=8000)

WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1635: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:518: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\alexp\Anaconda3\lib\site-packages\tensorflow_core\python\training\monitored_session.py:906: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\alexp\AppData\Local\Temp\tmp75f2psqa\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 0
INFO:tensorflow:global_step/sec: 66.3801
INFO:tensorflow:loss = 14116.363, step = 100 (1.515 sec)
INFO:tensorflow:global_step/sec: 85.4885
INFO:tensorflow:loss = 16251.084, step = 200 (1.152 sec)
INFO:tensorflow:global_step/sec: 89.357
INFO:tensorflow:loss = 26148.102, step = 300 (1.119 sec)
INFO:tensorflow:global_step/sec: 87.6238
INFO:tensorflow:loss = 12013.918, step = 400 (1.141 sec)
INFO:tensorflow:global_step/sec: 88.3499
INFO:tensorflow:loss = 60740.004, step = 500 (1.132 sec)
INFO:tensorflow:global_step/sec: 83.047
INFO:tensorflow:loss = 5053.287, step = 600 (1.203 sec)
INFO:tensorflow:global_step/sec: 86.8628
INFO:tensorflow:loss = 51147.332, step = 700 (1.152 sec)
INFO:tensorflow:global_step/sec: 86.5175
INFO:tensorflow:loss = 27677.102, step = 800 (1.156 sec)
INFO:tensorflow:global_step/sec: 86.2401
INFO:tensorflow:loss = 21913.303, step = 900 (1.159 sec)
INFO:tensorflow:global_step/sec: 86.6426
INFO:tensorflow:loss = 22355.084, step = 1000 (1.155 sec)
INFO:tensorflow:global_step/sec: 83.8565
INFO:tensorflow:loss = 5486.877, step = 1100 (1.193 sec)
INFO:tensorflow:global_step/sec: 84.0559
INFO:tensorflow:loss = 53407.836, step = 1200 (1.190 sec)
INFO:tensorflow:global_step/sec: 87.1694
INFO:tensorflow:loss = 17350.818, step = 1300 (1.146 sec)
INFO:tensorflow:global_step/sec: 86.3515
INFO:tensorflow:loss = 17786.793, step = 1400 (1.159 sec)
INFO:tensorflow:global_step/sec: 89.055
INFO:tensorflow:loss = 23456.273, step = 1500 (1.122 sec)
INFO:tensorflow:global_step/sec: 89.0749
INFO:tensorflow:loss = 35003.355, step = 1600 (1.124 sec)
INFO:tensorflow:global_step/sec: 86.7481
INFO:tensorflow:loss = 24526.988, step = 1700 (1.153 sec)
INFO:tensorflow:global_step/sec: 89.0161
INFO:tensorflow:loss = 23511.135, step = 1800 (1.123 sec)
INFO:tensorflow:global_step/sec: 88.9234
INFO:tensorflow:loss = 1813.5562, step = 1900 (1.124 sec)
INFO:tensorflow:global_step/sec: 85.075
INFO:tensorflow:loss = 13845.848, step = 2000 (1.176 sec)
INFO:tensorflow:global_step/sec: 86.0154
INFO:tensorflow:loss = 16935.17, step = 2100 (1.162 sec)
INFO:tensorflow:global_step/sec: 86.3406
INFO:tensorflow:loss = 18292.018, step = 2200 (1.159 sec)
INFO:tensorflow:global_step/sec: 87.7076
INFO:tensorflow:loss = 20866.447, step = 2300 (1.140 sec)
INFO:tensorflow:global_step/sec: 85.6714
INFO:tensorflow:loss = 4614.4673, step = 2400 (1.166 sec)
INFO:tensorflow:global_step/sec: 86.8228
INFO:tensorflow:loss = 11521.194, step = 2500 (1.152 sec)
INFO:tensorflow:global_step/sec: 87.5178
INFO:tensorflow:loss = 20692.85, step = 2600 (1.143 sec)
INFO:tensorflow:global_step/sec: 89.1636
INFO:tensorflow:loss = 15600.477, step = 2700 (1.123 sec)
INFO:tensorflow:global_step/sec: 84.792
INFO:tensorflow:loss = 14604.999, step = 2800 (1.178 sec)
INFO:tensorflow:global_step/sec: 89.2033
INFO:tensorflow:loss = 13945.492, step = 2900 (1.121 sec)
INFO:tensorflow:global_step/sec: 89.5827
INFO:tensorflow:loss = 2357.7898, step = 3000 (1.117 sec)
INFO:tensorflow:global_step/sec: 90.4852
INFO:tensorflow:loss = 11232.84, step = 3100 (1.105 sec)
INFO:tensorflow:global_step/sec: 86.2792
INFO:tensorflow:loss = 8115.76, step = 3200 (1.158 sec)
INFO:tensorflow:global_step/sec: 88.6072
INFO:tensorflow:loss = 25484.477, step = 3300 (1.129 sec)
INFO:tensorflow:global_step/sec: 90.2765
INFO:tensorflow:loss = 41120.58, step = 3400 (1.109 sec)
INFO:tensorflow:global_step/sec: 89.8779
INFO:tensorflow:loss = 10823.0625, step = 3500 (1.112 sec)
INFO:tensorflow:global_step/sec: 90.3054
INFO:tensorflow:loss = 6363.153, step = 3600 (1.108 sec)
INFO:tensorflow:global_step/sec: 88.2593
INFO:tensorflow:loss = 5200.9785, step = 3700 (1.133 sec)
INFO:tensorflow:global_step/sec: 89.3024
INFO:tensorflow:loss = 3531.432, step = 3800 (1.119 sec)
INFO:tensorflow:global_step/sec: 89.5546
INFO:tensorflow:loss = 3049.6692, step = 3900 (1.118 sec)
INFO:tensorflow:global_step/sec: 89.1561
INFO:tensorflow:loss = 2023.0267, step = 4000 (1.122 sec)
INFO:tensorflow:global_step/sec: 88.1007
INFO:tensorflow:loss = 25776.96, step = 4100 (1.135 sec)
INFO:tensorflow:global_step/sec: 88.5508
INFO:tensorflow:loss = 1817.2605, step = 4200 (1.129 sec)
INFO:tensorflow:global_step/sec: 90.3337
INFO:tensorflow:loss = 7497.467, step = 4300 (1.107 sec)
INFO:tensorflow:global_step/sec: 89.4647
INFO:tensorflow:loss = 12582.224, step = 4400 (1.117 sec)
INFO:tensorflow:global_step/sec: 90.1684
INFO:tensorflow:loss = 2014.088, step = 4500 (1.110 sec)
INFO:tensorflow:global_step/sec: 89.4066
INFO:tensorflow:loss = 4701.783, step = 4600 (1.117 sec)
INFO:tensorflow:global_step/sec: 89.963
INFO:tensorflow:loss = 6333.7134, step = 4700 (1.113 sec)
INFO:tensorflow:global_step/sec: 90.5304
INFO:tensorflow:loss = 6003.6895, step = 4800 (1.104 sec)
INFO:tensorflow:global_step/sec: 88.6131
INFO:tensorflow:loss = 6223.13, step = 4900 (1.129 sec)
INFO:tensorflow:global_step/sec: 89.4254
INFO:tensorflow:loss = 3803.6968, step = 5000 (1.118 sec)
INFO:tensorflow:global_step/sec: 89.8369
INFO:tensorflow:loss = 18096.297, step = 5100 (1.113 sec)
INFO:tensorflow:global_step/sec: 90.4124
INFO:tensorflow:loss = 3746.3357, step = 5200 (1.106 sec)
INFO:tensorflow:global_step/sec: 87.062
INFO:tensorflow:loss = 12955.812, step = 5300 (1.148 sec)
INFO:tensorflow:global_step/sec: 91.3621
INFO:tensorflow:loss = 11592.963, step = 5400 (1.096 sec)
INFO:tensorflow:global_step/sec: 90.9835
INFO:tensorflow:loss = 11372.642, step = 5500 (1.098 sec)
INFO:tensorflow:global_step/sec: 90.6134
INFO:tensorflow:loss = 3790.323, step = 5600 (1.105 sec)
INFO:tensorflow:global_step/sec: 89.1397
INFO:tensorflow:loss = 12317.184, step = 5700 (1.122 sec)
INFO:tensorflow:global_step/sec: 88.9792
INFO:tensorflow:loss = 8307.191, step = 5800 (1.123 sec)
INFO:tensorflow:global_step/sec: 90.489
INFO:tensorflow:loss = 1644.1168, step = 5900 (1.105 sec)
INFO:tensorflow:global_step/sec: 90.9358
INFO:tensorflow:loss = 1358.3602, step = 6000 (1.101 sec)
INFO:tensorflow:global_step/sec: 89.4721
INFO:tensorflow:loss = 23947.312, step = 6100 (1.117 sec)
INFO:tensorflow:global_step/sec: 89.9968
INFO:tensorflow:loss = 20718.895, step = 6200 (1.112 sec)
INFO:tensorflow:global_step/sec: 89.8406
INFO:tensorflow:loss = 12983.203, step = 6300 (1.113 sec)
INFO:tensorflow:global_step/sec: 89.9916
INFO:tensorflow:loss = 7955.6206, step = 6400 (1.111 sec)
INFO:tensorflow:global_step/sec: 90.8007
INFO:tensorflow:loss = 1208.6262, step = 6500 (1.100 sec)
INFO:tensorflow:global_step/sec: 89.0251
INFO:tensorflow:loss = 8215.24, step = 6600 (1.123 sec)
INFO:tensorflow:global_step/sec: 90.1226
INFO:tensorflow:loss = 12445.372, step = 6700 (1.110 sec)
INFO:tensorflow:global_step/sec: 90.576
INFO:tensorflow:loss = 5522.5225, step = 6800 (1.104 sec)
INFO:tensorflow:global_step/sec: 83.9824
INFO:tensorflow:loss = 951.88385, step = 6900 (1.192 sec)
INFO:tensorflow:global_step/sec: 89.9396
INFO:tensorflow:loss = 1450.3289, step = 7000 (1.112 sec)
INFO:tensorflow:global_step/sec: 88.8895
INFO:tensorflow:loss = 1277.1078, step = 7100 (1.125 sec)
INFO:tensorflow:global_step/sec: 88.8793
INFO:tensorflow:loss = 6235.0845, step = 7200 (1.124 sec)
INFO:tensorflow:global_step/sec: 86.1054
INFO:tensorflow:loss = 1650.9813, step = 7300 (1.162 sec)
INFO:tensorflow:global_step/sec: 89.5414
INFO:tensorflow:loss = 2070.0007, step = 7400 (1.117 sec)
INFO:tensorflow:global_step/sec: 87.6245
INFO:tensorflow:loss = 13253.043, step = 7500 (1.140 sec)
INFO:tensorflow:global_step/sec: 90.0717
INFO:tensorflow:loss = 6294.1133, step = 7600 (1.110 sec)
INFO:tensorflow:global_step/sec: 89.8974
INFO:tensorflow:loss = 1476.6515, step = 7700 (1.113 sec)
INFO:tensorflow:global_step/sec: 90.856
INFO:tensorflow:loss = 4936.916, step = 7800 (1.102 sec)
INFO:tensorflow:global_step/sec: 86.7103
INFO:tensorflow:loss = 1018.1266, step = 7900 (1.152 sec)
INFO:tensorflow:Saving checkpoints for 8000 into C:\Users\alexp\AppData\Local\Temp\tmp75f2psqa\model.ckpt.
INFO:tensorflow:Loss for final step: 12781.12.

In [57]:
funcion_prediccion = tf.estimator.inputs.pandas_input_fn(x = x_test, batch_size = len(x_test), shuffle = False)

In [71]:
generador_predicciones = modelo.predict(input_fn=funcion_prediccion)

In [72]:
predicciones = list(generador_predicciones)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\alexp\AppData\Local\Temp\tmp75f2psqa\model.ckpt-8000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [73]:
predicciones

 array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-509.7996], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-283.0467], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-714.4661], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-633.76984], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-149.2077], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-640.77203], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-172.07413], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-225.38968], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-893.87646], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-402.86484], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-261.12595], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-299.89957], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-397.21722], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-135.09755], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([3.4149356], dtype=float32),
  'logistic': array([0.9681681], dtype=float32),
  'probabilities': array([0.03183194, 0.9681681 ], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-518.6772], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-176.22374], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-428.05746], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-306.02316], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-854.31714], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-93.06871], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-198.38576], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-1120.146], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-556.97906], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-205.64627], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-504.2098], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-345.95337], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-941.45294], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-712.8097], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-919.42444], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-295.0636], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-133.44214], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-664.2156], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-278.13843], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-707.67816], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-363.6939], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-340.55118], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([51.012836], dtype=float32),
  'logistic': array([1.], dtype=float32),
  'probabilities': array([7.0049757e-23, 1.0000000e+00], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-187.08022], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-406.50714], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-595.1511], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-498.01773], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([351.5764], dtype=float32),
  'logistic': array([1.], dtype=float32),
  'probabilities': array([0., 1.], dtype=float32),
  'class_ids': array([1], dtype=int64),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-430.29715], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-33.036594], dtype=float32),
  'logistic': array([4.4914786e-15], dtype=float32),
  'probabilities': array([1.0000000e+00, 4.4914786e-15], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-616.6513], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-82.062164], dtype=float32),
  'logistic': array([2.2953814e-36], dtype=float32),
  'probabilities': array([1.0000000e+00, 2.2953814e-36], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-586.79877], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-287.37772], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-447.80487], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-400.6424], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-219.2154], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-396.53223], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-522.4875], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-434.0642], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-450.54272], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-378.63788], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-374.7913], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-721.6873], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-374.48407], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-384.47824], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-248.83385], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-762.9531], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 {'logits': array([-952.74493], dtype=float32),
  'logistic': array([0.], dtype=float32),
  'probabilities': array([1., 0.], dtype=float32),
  'class_ids': array([0], dtype=int64),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1]),
  'all_classes': array([b'0', b'1'], dtype=object)},
 ...]

In [74]:
predicciones_finales = [prediccion['class_ids'][0] for prediccion in predicciones]

In [75]:
predicciones_finales

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [76]:
from sklearn.metrics import classification_report

In [77]:
print(classification_report(y_test, predicciones_finales))

precision    recall  f1-score   support

           0       0.79      0.99      0.88     11131
           1       0.82      0.15      0.26      3522

    accuracy                           0.79     14653
   macro avg       0.80      0.57      0.57     14653
weighted avg       0.79      0.79      0.73     14653