# Scikit Learn
Dividir el conjunto de datos disponible, en datos para pruebas y en datos para test

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
datos = np.random.randint(0,100,(100,4))
datos

array([[15,  1, 30, 69],
       [82, 46, 59, 87],
       [68, 12, 68,  3],
       [91, 83, 23, 89],
       [64, 54, 91, 44],
       [80,  8, 39, 76],
       [60, 76, 87, 84],
       [ 0, 18, 43,  1],
       [ 0, 78,  6,  2],
       [76, 29, 53, 43],
       [13, 63, 68, 39],
       [26, 77, 11, 44],
       [13, 90, 63, 83],
       [75, 20, 73, 77],
       [40, 43, 50, 92],
       [ 7, 93, 91, 36],
       [67, 90, 69, 80],
       [63, 48, 14, 65],
       [16, 68, 78, 88],
       [79, 66, 60, 24],
       [93,  9, 55, 12],
       [30, 86, 49,  9],
       [41, 80, 77,  1],
       [ 9, 18,  8, 59],
       [76,  4, 51, 26],
       [47,  2, 30, 81],
       [69, 91,  8, 63],
       [10,  9, 18,  5],
       [52, 38,  0, 57],
       [71, 61,  0, 49],
       [98, 94,  1,  9],
       [40, 58, 52, 39],
       [80,  8, 88, 58],
       [12,  7, 90, 27],
       [87, 88,  0, 75],
       [16, 34, 11, 21],
       [74, 51, 93, 88],
       [87, 25, 72, 74],
       [87, 37, 53, 59],
       [82, 74, 39, 40],
       [18, 77, 66, 26],
       [79, 62, 20, 87],
       [32, 34, 90, 98],
       [ 5, 50, 20, 97],
       [64, 19, 82,  5],
       [91, 16, 37, 90],
       [41, 20, 21, 27],
       [99, 90, 43, 61],
       [39, 62, 80, 72],
       [54, 57, 87, 45],
       [70, 13, 81, 25],
       [76, 54, 22, 42],
       [71,  0, 86, 38],
       [92, 68, 32, 98],
       [27, 35, 91, 57],
       [34, 97, 12, 45],
       [19, 92, 31, 47],
       [54, 59, 81, 43],
       [98, 42, 58, 18],
       [48, 48, 86, 15],
       [30, 35,  7, 51],
       [75, 44, 46, 80],
       [39, 41, 22, 90],
       [85, 73, 34,  7],
       [ 9, 56, 30, 64],
       [50,  2, 60, 59],
       [71, 65, 58, 98],
       [30, 97, 57,  8],
       [59, 64, 73, 73],
       [17, 82, 11, 37],
       [49, 88, 33, 45],
       [88, 89, 68, 21],
       [97, 25, 53, 95],
       [59,  4,  0, 46],
       [85, 84,  2, 56],
       [35,  0, 38,  2],
       [67, 62, 81, 86],
       [72, 16, 25, 92],
       [46, 31, 89, 58],
       [63, 36, 66, 97],
       [71, 60, 65, 56],
       [51, 85,  5, 66],
       [11, 31, 50,  8],
       [56, 33, 64, 96],
       [99,  9, 36, 68],
       [29, 33, 45, 87],
       [95, 75, 57, 47],
       [ 9, 50, 31, 83],
       [76, 45, 48, 50],
       [59, 11, 81, 54],
       [ 6, 37, 91,  4],
       [40, 12, 17, 84],
       [54, 81,  4, 29],
       [92,  2, 55, 12],
       [61, 73, 50, 27],
       [43, 63, 72,  9],
       [14, 77, 81, 93],
       [17, 50,  3, 25],
       [68, 50, 55, 70],
       [25, 44, 86, 28]])

In [5]:
dataframe = pd.DataFrame(data = datos, columns = ['c1','c2','c3','Etiqueta'])
dataframe

    c1  c2  c3  Etiqueta
0   15   1  30        69
1   82  46  59        87
2   68  12  68         3
3   91  83  23        89
4   64  54  91        44
..  ..  ..  ..       ...
95  43  63  72         9
96  14  77  81        93
97  17  50   3        25
98  68  50  55        70
99  25  44  86        28

[100 rows x 4 columns]

In [6]:
x = dataframe[['c1','c2','c3']]
x

    c1  c2  c3
0   15   1  30
1   82  46  59
2   68  12  68
3   91  83  23
4   64  54  91
..  ..  ..  ..
95  43  63  72
96  14  77  81
97  17  50   3
98  68  50  55
99  25  44  86

[100 rows x 3 columns]

In [9]:
y = dataframe['Etiqueta']
y

0     69
1     87
2      3
3     89
4     44
      ..
95     9
96    93
97    25
98    70
99    28
Name: Etiqueta, Length: 100, dtype: int32

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [12]:
x_train.shape

(70, 3)

In [13]:
x_test.shape

(30, 3)

In [15]:
y_train.shape

(70,)

In [16]:
y_test.shape

(30,)